.cont {
  display: flex;
  justify-content: center;
  width: 100%;
}

.doc-div {
  margin-top: 57px;
  align-self: center;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */

.dl-button {
  display: flex;
  justify-content: center;
  height: 45px;
  width: 45px;
}

.btn {
  display: flex;
  justify-content: center;
}

.linkedin {
  height: 45px;
  display: flex;
  width: 5%;
}

.github {
  height: 45px;
  display: flex;
  width: 5%;
}

.button-container {
  display: flex;
  height: 180px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100px;
  margin-top: 50px;
}

@media (max-width: 600px) {
  .cont {
    display: flex;
    flex-direction: column;
  }
  .button-container {
    flex-direction: row;
    height: 100px;
    width: 75%;
    margin-bottom: 0px;
    margin-top: 15px;
    justify-content: space-around;
    align-self: center;
  }
  .doc-div {
    margin-top: 0%;
    justify-content: center;
  }
}
