.container {
  justify-content: flex-start;
  min-height: 110px;
}

.align-var {
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
}

.nav-style {
  flex-direction: row;
  justify-content: space-between;
  min-height: 110px;
  max-height: 500px;
}

.nav-brand {
  display: flex;
  align-self: center;
  font-size: 25px;
  margin-left: 43%;
}

.nav-link {
  align-self: flex-start;

  font-size: 20px;
}

.logo-cont {
  overflow: hidden;
  align-self: flex-start;
  margin-left: 0;
  margin-bottom: 5px;
}

.navbar-toggler {
  align-self: flex-end;
  margin-bottom: 33px;
  margin-right: 100px;
}

.navbar-nav {
  margin-right: -20px;
}

@media (max-width: 900px) {
  .nav-brand {
    display: none;
  }
}

@media (max-width: 600px) {
  .logo-cont {
    margin-bottom: 15px;
  }
}
@media (max-width: 500px) {
  .nav-style {
    min-height: 100px;
    max-height: 500px;
  }
  .logo-cont {
    margin-bottom: 15px;
  }
}
