@media (max-width: 900px) {
  .nav-brand {
    display: none;
  }
}

@media (max-width: 600px) {
  .container {
    margin-right: 75px;
  }
}

@media (min-width: 800px) {
  .nav-brand {
    margin-left: 36%;
  }
}

@media (min-width: 900px) {
  .nav-brand {
    margin-left: 42%;
  }
}

.align-var {
  display: flex;
  margin-right: -75px;
  justify-content: flex-end;
}

.nav-style {
  min-height: 110px;
  width: 100%;
}

.nav-brand {
  font-size: 25px;
}

.nav-link {
  align-self: flex-start;

  font-size: 20px;
}

.logo {
  margin-right: 5%;
}
.navbar-toggler {
}
