.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.flex-grid {
  width: 100%;
  margin-top: 80px;
  justify-content: center;
}

.social-links {
  flex-direction: column;
  justify-content: space-between;
  height: 110px;
  margin-top: 80px;
  display: flex;
}

.linkedin {
  display: flex;
  width: 100%;
}

.github {
  display: flex;
  width: 100%;
}

@media (max-width: 500px) {
  .container {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
  }

  .social-links {
    align-self: center;
    margin-top: 30px;
    height: 60%;
    flex-direction: row;
    width: 175px;
  }
  .flex-grid {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-top: 3px;
    width: 100%;
    margin-left: -10px;
  }
}
